apiVersion: core.eda.nokia.com/v1
kind: Workflow
metadata:
  name: environment-nokia-delete
  namespace: eda-system
spec:
  type: app-installer
  input:
    operation: delete
    apps:
      - app: environment
        catalog: eda-catalog-builtin-apps
        vendor: nokia
        version:
          value: v4.0.1
          type: semver
